<!--  Mission/Passion -->
<div class="section pb-3 bg-white" id="section-about" data-aos="fade-up">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-12 col-lg-8 section-heading">
        <h2 class="heading mb-5">The Terrarium Story Company</h2>
        <p>Here will come our mission / vision. Something about making gifting simple. About gifting something that grows with you. Generic statements about nature and plants. </p>
        <h3>Make us a chapter of yours!</h3>
      </div>
    </div>
  </div>
</div>

<!--  About us header image -->
<div class="section bg-white pt-2 pb-2 text-center" data-aos="fade">
  <p><img src="images/bg_hero.png" alt="" class="img-fluid"></p>
</div>

<!--  The Team-->
<div class="section bg-white" data-aos="fade-up">
  <div class="container-fluid">
    <div class="row mb-5">
      <div class="col-md-12 section-heading text-center">
        <h2 class="heading mb-5">Meet The Team</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 pr-md-5 text-center mb-5">
        <div class="ftco-38">
          <div class="ftco-38-img">
            <div class="ftco-38-header">
              <img src="images/shalaka.png" alt="">
              <h3 class="ftco-38-heading">Shalaka Shinde</h3>
              <p class="ftco-38-subheading">Chief Shopaholic</p>
            </div>
            <div class="ftco-38-body">
              <p>Architect with borderline <br> TV series addiction.
                <i><br>#FollowDreamsNotOrders</i>
              </p>
              <p>
                <a href="http://falaka14.tumblr.com/" class="p-2"><span class="fab fa-tumblr"></span></a>
                <a href="https://www.instagram.com/falaka14" class="p-2"><span class="fab fa-instagram"></span></a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 pl-md-5 text-center mb-5">
        <div class="ftco-38">
          <div class="ftco-38-img">
            <div class="ftco-38-header">
              <img src="images/rohan.png" alt="">
              <h3 class="ftco-38-heading">Rohan Kalgutkar</h3>
              <p class="ftco-38-subheading">Chief Procrastinator</p>
            </div>
            <div class="ftco-38-body">
              <p>Engineer by profession, entrepreneur by passion.
                <i><br>#StayHungryStayFoolish</i>
              </p>
              <p>
                <a href="https://rohankalgutkar.in" class="p-2"><span class="fas fa-external-link-alt"></span></a>
                <a href="https://www.instagram.com/daft_ro" class="p-2"><span class="fab fa-instagram"></span></a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 pr-md-5 text-center mb-5">
        <div class="ftco-38">
          <div class="ftco-38-img">
            <div class="ftco-38-header">
              <img src="images/dishika.png" alt="">
              <h3 class="ftco-38-heading">Dishika Sanil</h3>
              <p class="ftco-38-subheading">Chief Hoarder</p>
            </div>
            <div class="ftco-38-body">
              <p>Full time architect, <br> part time nap enthusiast.
                <br><i>#SomethingWithPixieDust</i>
              </p>
              <p>
                <a href="https://vsco.co/dish-10/" class="p-2"><span class="fas fa-camera-retro"></span></a>
                <a href="https://www.instagram.com/dish.s_10" class="p-2"><span class="fab fa-instagram"></span></a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 pl-md-5 text-center mb-5">
        <div class="ftco-38">
          <div class="ftco-38-img">
            <div class="ftco-38-header">
              <img src="images/ritesh.png" alt="">
              <h3 class="ftco-38-heading">Ritesh Kamble</h3>
              <p class="ftco-38-subheading">Chief Troublemaker</p>
            </div>
            <div class="ftco-38-body">
              <p>Engineer and curious soul.
                <br> Loves Mumbai and its food!
                <i><br>#EatSleepWorkRepeat</i>
              </p>
              <p>
                <a href="https://www.facebook.com/ritesh.kamble.104" class="p-2"><span class="fab fa-facebook"></span></a>
                <a href="https://www.instagram.com/riteshkamble519/" class="p-2"><span class="fab fa-instagram"></span></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
