<footer class="ftco-footer">
  <div class="container">

    <div class="row">
    <div class="col-md-4 mb-5">
      <div class="footer-widget">
        <h3 class="mb-4">Let's make gifting simple</h3>
        <p>Celebrate your loved ones with something that grows. </p>
        <p><i class="fas fa-map-marker-alt">&nbsp;</i> Amchi Mumbai</p>
        <p><a href="/" class=""><img src="images/logo-white.png" height=50></a></p>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="footer-widget">
        <h3 class="mb-4">Orders / Inquiry</h3>
        <p> <i class="fas fa-phone-square">&nbsp;</i> 9619817506 / 9967022329
          <br> <i class="fas fa-envelope">&nbsp;</i> hello@thetstory.co</p>
        <h3 class="mb-4">Support</h3>
        <p><i class="fas fa-envelope">&nbsp;</i> support@thetstory.co</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="footer-widget">
        <h3 class="mb-4">Follow Along</h3>
        <ul class="list-unstyled social">
          <li><a href="https://www.facebook.com/thetstoryco/"><span class="fab fa-facebook"></span></a></li>
          <li><a href="https://www.instagram.com/thetstoryco"><span class="fab fa-instagram"></span></a></li>
        </ul>
      </div>
      <!-- <div class="footer-widget">
        <h3 class="mb-4">Newsletter</h3>
        <form action="#" class="ftco-footer-newsletter">
          <div class="form-group">
            <button class="button"><span class="fas fa-envelope"></span></button>
            <input type="email" class="form-control" placeholder="Enter Email">
          </div>
        </form>
      </div> -->
    </div>

    </div>

    <div class="row pt-5">
      <div class="col-md-12 text-center">
        <p>&copy; Copyright 2018. The Terrarium Story Company. All Rights Reserved.
          <!-- Designed &amp; Developed by <a href="https://rohankalgutkar.in/">Rohan Kalgutkar</a>. -->
        </p>
      </div>
    </div>
  </div>
</footer>

</div>

<!-- loader -->
<div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#ff7a5c"/></svg></div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>

<script src="js/bootstrap-datepicker.js"></script>
<script src="js/jquery.timepicker.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>

<script src="js/jquery.easing.1.3.js"></script>

<script src="js/aos.js"></script>
<script src="js/main.js"></script>
</body>
</html>
