<!doctype html>
<html lang="en">
  <head>
    <title>thetstoryco | Let's make gifting simple</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Home decor, gifting & more." />
    <meta name="keywords" content="Home decor, cactus, succulents, dream catchers, gifts" />
    <meta name="author" content="Rohan Kalgutkar" />

    <!--  favicon -->
    <link rel="shortcut icon" href="images/ficon.png">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:300,400,700,800|Open+Sans:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

    <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
    <!-- <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <!-- Theme Style -->
    <link rel="stylesheet" href="css/style.css">

  </head>
  <body class="bg-light">

    <body data-spy="scroll" data-target="#ftco-navbar-spy" data-offset="0">

    <div class="site-wrap">

      <nav class="site-menu" id="ftco-navbar-spy">
        <div class="site-menu-inner" id="ftco-navbar">
          <ul class="list-unstyled">
            {{#if pageHome}}
            <li><a href="#section-home">Home</a></li>
            <li><a href="products">Products</a></li>
            <li><a href="#section-about">About</a></li>
            <li><a href="#section-contact">Contact</a></li>
            {{/if}}
            {{#if pageProduct}}
            <li><a href="/">Home</a></li>
            <li><a href="/">Bespoke</a></li>
            <li><a href="/">Reccommendations</a></li>
            {{/if}}
          </ul>
        </div>
      </nav>

      <header class="site-header">
        <div class="row align-items-center">
          <div class="col-2 col-md-3">

          </div>
          <div class="col-5 col-md-6 text-center site-logo-wrap">
            <a href="/" class=""><img src="images/logo-black.png" height=70></a>
          </div>
          <div class="col-5 col-md-3 text-right menu-burger-wrap">
            <a href="#" class="site-nav-toggle js-site-nav-toggle"><i></i></a>

          </div>
        </div>

      </header>
