<div class="section"  data-aos="fade-up" id="section-trending">
  <div class="container">
    <div class="row section-heading justify-content-center mb-5">
      <div class="col-md-8 text-center">
        <h2 class="heading mb-3">Our Trending Products</h2>
      </div>
    </div>
    <div class="row">

      <div class="ftco-46">
        <div class="ftco-46-row d-flex flex-column flex-lg-row">
          <div class="ftco-46-image" style="background-image: url(images/products/lilly.jpg);"></div>
          <div class="ftco-46-text ftco-46-arrow-left">
            <h3 class="ftco-46-heading">Lilly with Haworthia</h3>
            <h4 class="ftco-46-subheading">Terracotta</h4>
            <p class="mb-5">Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            <p><a href="/products" class="btn-link">Order Now <span class="ion-android-arrow-forward"></span></a></p>
          </div>
          <div class="ftco-46-image" style="background-image: url(images/products/jaadu.jpg);"></div>
        </div>

        <div class="ftco-46-row d-flex flex-column flex-lg-row">
          <div class="ftco-46-text ftco-46-arrow-right">
            <h3 class="ftco-46-heading">Group Hug, Kids!</h3>
            <!-- <h4 class="ftco-46-subheading">Food</h4> -->
            <p class="mb-5">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            <p><a href="/products" class="btn-link">Order Now <span class="ion-android-arrow-forward"></span></a></p>
          </div>
          <div class="ftco-46-image" style="background-image: url(images/products/grouphug.JPG);"></div>
          <div class="ftco-46-text ftco-46-arrow-up">
            <h3 class="ftco-46-heading">Jaadu with Zebra Haworthia</h3>
            <h4 class="ftco-46-subheading">Terracotta</h4>
            <p class="mb-5">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.</p>
            <p><a href="/products" class="btn-link">Order Now <span class="ion-android-arrow-forward"></span></a></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
