{{> header}}

<div class="main-wrap " id="section-home">

  <div class="cover_1 overlay bg-slant-white bg-light">
    <div class="img_bg" style="background-image: url(images/header.jpg);" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">
          <div class="col-md-10" data-aos="fade-up">
            <h2 class="heading mb-5 typewrite"></h2>

            <div class="row">
              <div class="offset-md-3 col-md-3">
                <p><a href="#section-trending" class="smoothscroll btn btn-outline-white px-5 py-3">Know More</a></p>
              </div>
              <div class="col-md-4">
                <p><a href="/products" class="smoothscroll btn btn-outline-white px-5 py-3">Check Products</a></p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">

var options = {
strings: ["Lets make gifting simple. ^700","Lets make gifting^600 green.", "Lets make gifting^750 not succ.", "Lets make gifting a story.^500", "Lets make gifting memorable.^600"],
typeSpeed: 80,
backSpeed: 70,
loop: true
}

var typed = new Typed(".typewrite", options);
</script>

  {{> trending}}
  {{> about}}
  <!-- {{> testimonials}} -->
  {{> contact}}

  {{> footer}}
