{{> header}}

<div class="main-wrap " id="section-products">

  <div class="section bg-white" id="section-catalog" data-aos="fade-up">
    <div class="container" style="padding-top: 80px">
      <div class="row section-heading justify-content-center mb-5">
        <div class="col-md-8 text-center">
          <h2 class="heading mb-3">Bespoke</h2>
          <p class="sub-heading mb-5">Choose your own pot, plant and design!
            <br> Want to see our reccommendations? Check out our <a href="#">ready made</a> section.
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <ul class="nav site-tab-nav" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-planter-tab" data-toggle="pill" href="#pills-planter" role="tab" aria-controls="pills-planter" aria-selected="true">Planter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-plant-tab" data-toggle="pill" href="#pills-plant" role="tab" aria-controls="pills-plant" aria-selected="false">Plant</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-design-tab" data-toggle="pill" href="#pills-design" role="tab" aria-controls="pills-design" aria-selected="false">Design</a>
            </li>
          </ul>
          <form class="" action="index.html" method="post">
            <div class="tab-content" id="pills-tabContent">

              <!--  Planter Items-->

              <div class="tab-pane fade show active" id="pills-planter" role="tabpanel" aria-labelledby="pills-planter-tab">
                <div class="d-block d-md-flex menu-food-item">
                  <div class="text order-1 mb-3">
                    <img src="images/img_1.jpg">
                    <h3><a href="#">Some Planter Option 1</a></h3>
                    <p>Spinach and artichokes in a creamy cheese dip with warm tortilla chips &amp; salsa.</p>
                  </div>
                  <div class="price order-2">
                    <strong>₹100.49</strong>
                    <input type="checkbox" name="planter1" value="planterCode1">
</div>
                  </div>
                </div>

                <div class="tab-pane fade" id="pills-plant" role="tabpanel" aria-labelledby="pills-plant-tab">
                  <div class="d-block d-md-flex menu-food-item">
                    <div class="text order-1 mb-3">
                      <img src="images/img_2.jpg">
                      <h3><a href="#">Plant Option 1</a></h3>
                      <p>Spinach and artichokes in a creamy cheese dip with warm tortilla chips &amp; salsa.</p>
                    </div>
                    <div class="price order-2">
                      <strong>₹120.49</strong>
                      <input type="checkbox" name="plant1" value="plantCode1">
</div>
                    </div>
                  </div>

                  <div class="tab-pane fade" id="pills-design" role="tabpanel" aria-labelledby="pills-design-tab">
                    <div class="d-block d-md-flex menu-food-item">
                      <div class="text order-1 mb-3">
                        <img src="images/img_3.jpg">
                        <h3><a href="#">Design Option 1</a></h3>
                        <p>Spinach and artichokes in a creamy cheese dip with warm tortilla chips &amp; salsa.</p>
                      </div>
                      <div class="price order-2">
                        <strong>₹180.99</strong>
                        <input type="checkbox" name="design1" value="design1">
</div>
                      </div>
                    </div>

                      </div>
                      <div class="justify-content-center">
                      <div class="offset-md-3 col-md-5">
                        <input type="submit" class="btn btn-primary btn-outline-primary btn-block" value="Select">
                      </div>
                    </div>
          </form>
        </div>

      </div>
    </div>
  </div>

  <div class="section bg-light" data-aos="fade-up" id="section-orders">
    <div class="container">
      <div class="row section-heading justify-content-center mb-5">
        <div class="col-md-8 text-center">
          <h2 class="heading mb-3">Reccommendations</h2>
          <p class="sub-heading mb-5">We're working on a seamless way to help you order our products, meanwhile..</p>
        </div>
        <div class="col-md-10 p-5 form-wrap"></div>
      </div>
    </div>
  </div>

  {{> footer}}
