<!--  Planter Items-->

<div class="tab-pane fade show active" id="pills-planter" role="tabpanel" aria-labelledby="pills-planter-tab">
  <div class="d-block d-md-flex menu-food-item">
    <div class="text order-1 mb-3">
      <img src="images/img_1.jpg">
      <h3><a href="#">Some Planter Option 1</a></h3>
      <p>Spinach and artichokes in a creamy cheese dip with warm tortilla chips &amp; salsa.</p>
    </div>
    <div class="price order-1">
      <strong>₹100.49</strong>
      <input type="checkbox" name="planter" value="planterCode1">
</div>
    </div>
  <div class="d-block d-md-flex menu-food-item">
    <div class="text order-1 mb-3">
      <img src="images/img_1.jpg">
      <h3><a href="#">Planter Option 2</a></h3>
      <p>Spinach and artichokes in a creamy cheese dip with warm tortilla chips &amp; salsa.</p>
    </div>
    <div class="price order-2">
      <strong>₹150.49</strong>
      <input type="checkbox" name="planter" value="planterCode2">
</div>
    </div>
  <div class="d-block d-md-flex menu-food-item">
    <div class="text order-1 mb-3">
      <img src="images/img_1.jpg">
      <h3><a href="#">Planter Option 3</a></h3>
      <p>Spinach and artichokes in a creamy cheese dip with warm tortilla chips &amp; salsa.</p>
    </div>
    <div class="price order-3">
      <strong>₹200.49</strong>
      <input type="checkbox" name="planter" value="planterCode3">
</div>
    </div>
  </div>
